<ion-header>
  <ion-fab vertical="top" horizontal="start">
    <a [routerLink]="'/cropinfo'">
      <ion-icon style="font-size: x-large;color: white;" name="arrow-back-outline"></ion-icon>
    </a>
  </ion-fab>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">sugarcane</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Favourable Climate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Climate</h3>
      <ul>
        <li>Hot and humid climate.</li>
        <li>Warm long day produce plants with more tillers,juice and high sucrose contents.</li>
      </ul>
      <h3>Temperature</h3>
      <ul>
        <li>Germination stage- 30-34°C</li>
        <li>Vegetation growth- 20-30°C</li>
        <li>Ripening stage- 20-25°C</li>
        <li>Higher temperature like 50°C stops its growth an very low temperature below 20°C slows down its growth.</li>
      </ul>
      <h3>Crop Water Requirement</h3>
      <ul>
        <li>Water requirement is equivalent to 1800-2200 mm of rainfall.</li>
        <li>During ripening period high rainfallis not desirable because it leads to poor juice quality,formation of
          water shoots and increase in the tissue moisture.</li>
      </ul>

    </ion-card-content>

  </ion-card>
  <h2 style="text-align: center; font-weight: bold;">Nutrient Management</h2>
  <div style="text-align: center;">
    <iframe width="300" height="300" src="https://www.youtube.com/embed/4gdFOQCR0SU" framborder="0"
      allowfullscreen></iframe>
  </div>
</ion-content>