<ion-header>
  <ion-fab vertical="top" horizontal="start">
    <a [routerLink]="'/cropinfo'">
      <ion-icon style="font-size: x-large;color: white;" name="arrow-back-outline"></ion-icon>
    </a>
  </ion-fab>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">Rice</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Favourable Climate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Climate</h3>
      <ul>
        <li>This crop needs hot and humid climate and it is suited for region with prolonged sunshine and plenty of
          water.</li>
        <li>More than 65 to 75 % humidity is good for rice.</li>
      </ul>
      <h3>Temperature</h3>
      <ul>
        <li>Rice crop needs an average temperature of 21 to 35°C</li>
        <li>It can tolerate 40 to 42°C at the maximum.</li>
        <li>It has been observed that each stage of cultivation process demands a different temperature range such as
          sprouting (10°C),Flowering (23°C),blooming (26-29°C),grain formation (21°C) and ripening (20-25°C).</li>
      </ul>
      <h3>Crop Water Requirement</h3>
      <ul>
        <li>Adequate and well distributed rainfall during the growing season is essential for maximum yield and quality
          of Rice.</li>
        <li>Rice is grown in areas receiving more than 800 mm rainfall.</li>
      </ul>

    </ion-card-content>

  </ion-card>
  <h2 style="text-align: center; font-weight: bold;">Nutrient Management</h2>
  <div style="text-align: center;">
    <iframe width="300" height="300" src="https://www.youtube.com/embed/AZ10EylhS9I" framborder="0"
      allowfullscreen></iframe>
  </div>
</ion-content>