<ion-header>
  <ion-fab vertical="top" horizontal="start">
    <a [routerLink]="'/cropinfo'">
      <ion-icon style="font-size: x-large;color: white;" name="arrow-back-outline"></ion-icon>
    </a>
  </ion-fab>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">maize</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Favourable Climate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Climate</h3>
      <ul>
        <li>Maize grows well in a wide range of climatic conditions.</li>
        <li>Essential a warm weather crop.</li>
      </ul>
      <h3>Temperature</h3>
      <ul>
        <li>Maize crop needs an average temperature of 22 to 30°C</li>
        <li>It can tolerate upto 35°C at the maximum.</li>
      </ul>
      <h3>Crop Water Requirement</h3>
      <ul>
        <li>Adequate soil moisture during the flowering and grain filling period is essential for maximum yield and
          quality
          of Maize.</li>
        <li>Crop required water equivalent to 500-800 mm rainfall.</li>
      </ul>

    </ion-card-content>

  </ion-card>
  <h2 style="text-align: center; font-weight: bold;">Nutrient Management</h2>
  <div style="text-align: center;">
    <iframe width="300" height="300" src="https://www.youtube.com/embed/-pGdptJVX7o" framborder="0"
      allowfullscreen></iframe>
  </div>
</ion-content>